body {
	background: #191919;
	color: #eeeeee;
	font-family: monospace;
	font-size: 12px;
	max-width: 75%;
	font-size: 110%;
	margin: auto;
}
h1 {
   color: #FFCCCC;
   text-shadow: 0px 0px 1px #FFCCCC;
}
h2 {
   color: #FFCCCC;
   text-shadow: 0px 0px 1px #FFCCCC;
}
a:link{
	color: #00ff00;
	font-family: monospace;
}
